<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configs SELEFILE="E:\EmbeddedSystem\RT-Thread_W60X_SDK\examples\W601_APP\rtthread.bin" SAVEFILE="E:\EmbeddedSystem\RT-Thread_W60X_SDK\examples\W601_APP\rtthread.rbl" COMPRESS="0" CRYPT="0" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="0.5" />
</configuration>